<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden" *transloco="let t">
    <!-- Header -->
    <div class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8">
        <!-- Loader -->
        <div *ngIf="isLoading" class="absolute inset-x-0 bottom-0">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">{{t('liste  Users')}}</div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" autocomplete="off" placeholder="Search users"/>
            </mat-form-field>
            <!-- Add -->
            <button class="ml-4" mat-flat-button [color]="'primary'" [routerLink]="'create-sub-admin'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">{{t('action.add')}}</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Users list -->
        <div class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto">
            <div *ngIf="users$ | async as users">
                <div *ngIf="users && users.length > 0">
                    <!-- Ajout de `overflow-x-auto` pour éviter le débordement -->
                    <div class="overflow-x-auto">
                        <div class="min-w-full">
                            <!-- Header -->
                            <div class="inventory-grid text-secondary sticky top-0 z-10 grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                                 matSort matSortDisableClear>
                                <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                                    <div mat-sort-header="sku">{{t('Nom & Prénom')}}</div>
                                    <div mat-sort-header="price">{{t('LOGIN.Email')}}</div>
                                    <div mat-sort-header="Date">{{t('Date de création')}}</div>
                                    <div mat-sort-header="action">{{t('action.actions')}}</div>
                                </div>
                            </div>
                            <!-- Rows -->
                            <div *ngFor="let user of users; trackBy: trackByFn">
                                <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-center border-b px-6 py-3 md:px-8">
                                    <!-- User Name -->
                                    <div>{{ user.firstname }} {{ user.lastname }}</div>
                                    <!-- User Email -->
                                    <div>{{ user.email }}</div>
                                    <!-- User Creation Date -->
                                    <div>{{ user.createdDate | date: 'dd/MM/yyyy HH:mm' }}</div>
                                    <!-- Actions -->
                                    <div class="hidden sm:block">
                                        <button (click)="navigateToEdit(user)">
                                            <mat-icon
                                                    class="text-green-400 icon-size-5 mr-2"
                                                    [svgIcon]="
                                                    'feather:edit-3'"
                                            ></mat-icon>
                                        </button>
                                        <button (click)="openConfirmationDialog(user)">
                                            <mat-icon class="text-red-400 icon-size-5 mr-2" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
