<div class="flex h-full w-full flex-col items-center justify-center">
    <div class="w-full max-w-3xl">
        <div class="prose prose-sm mx-auto max-w-none">
            <img class="w-20" src="images/logo/logo.svg" alt="Logo image" />
            <h1>Landing Module</h1>
    
        </div>
        <div>
            <a
                class="mt-8"
                mat-flat-button
                [color]="'primary'"
                [routerLink]="'/dashboards/project'"
            >
                <span>Launch the App</span>
                <mat-icon
                    class="ml-2 icon-size-5"
                    [svgIcon]="'heroicons_mini:arrow-long-right'"
                ></mat-icon>
            </a>
        </div>
    </div>
</div>
