<div class="flex min-w-0 flex-auto flex-col" *transloco="let t">
    <!-- Header -->
    <div
            class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8"
    >
        <div class="min-w-0 flex-1">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500"
                    >{{t('Users')}}</a
                    >
                </div>
                <div class="ml-1 flex items-center whitespace-nowrap">
                    <mat-icon
                            class="text-secondary icon-size-5"
                            [svgIcon]="'heroicons_mini:chevron-right'"
                    ></mat-icon>
                    <a class="ml-1 text-primary-500">{{t('admins')}}</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                        class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl"
                >
                    {{t('Create_admin')}}
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div>
            <form [formGroup]="createForm" (ngSubmit)="onSubmit()"
                    class="bg-card mt-4 flex flex-col overflow-hidden rounded px-8 pt-10 shadow"
            >
                <p class="text-lg font-medium">{{t('personal_informations')}}</p>
                <div class="flex">
                    <mat-form-field class="gt-xs:pr-3 flex-auto w-full">
                        <input matInput [placeholder]= "t('LOGIN.firstName')" formControlName="firstname" name="firstName"/>
                        <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:user-circle'"
                        ></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="ml-3 gt-xs:pl-3 flex-auto w-full">
                        <input matInput [placeholder]="t('owners')" formControlName="lastname" name="lastName"/>
                        <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:user-circle'"
                        ></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field class="flex-auto w-full">
                        <input matInput [placeholder]="t('Email')" formControlName="email" name="email"/>
                        <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:envelope'"
                        ></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="ml-3 gt-xs:pr-3 flex-auto w-full">
                        <input matInput
                               [type]="hidePassword ? 'password' : 'text'"
                               formControlName="password"
                               name="password"
                               [placeholder]="t('LOGIN.Password')" />
                        <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:key'"
                        ></mat-icon>
                        <!-- Bouton pour afficher/masquer le mot de passe -->
                        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field class="gt-xs:pl-3 flex-auto w-full">
                        <input [type]="Number" matInput formControlName="phoneNumber" name="phoneNumber" [placeholder]="t('LOGIN.MobilePhone') + ' Ex: (123) 456-7890'" />
                        <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:phone'"
                        ></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="ml-3 gt-xs:pl-3 flex-auto w-full">
                        <mat-select [placeholder]="t('Preferred_Language')" formControlName="lanKey" name="lanKey">
                            <mat-option value="En"
                            >Anglais</mat-option
                            >
                            <mat-option value="Fr"
                            >Français</mat-option
                            >
                        </mat-select>
                        <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:language'"
                        ></mat-icon>
                    </mat-form-field>
                </div>
                <mat-divider class="mb-10 mt-6"></mat-divider>
                <p class="text-lg font-medium">{{t('Location.location')}}</p>
                <div class="gt-xs:flex-row flex flex-col">
                    <div class="flex">
                    <mat-form-field class="gt-xs:pr-3 flex-auto">
                        <input ngx-gp-autocomplete matInput (onAddressChange)="handleAddressChange($event)" [placeholder]="t('Location.location')"  [(ngModel)]="addressPro" [ngModelOptions]="{standalone: true}" />
                        <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:map'"
                        ></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="ml-3 gt-xs:pr-3 flex-auto">
                        <input formControlName="street"  matInput [placeholder]="t('Location.streetAddress')" name="street"/>
                        <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:map-pin'"
                        ></mat-icon>
                    </mat-form-field>
                    </div>
                    <div class="flex">
                    <mat-form-field class="gt-xs:pr-3 flex-auto">
                        <input formControlName="city" matInput [placeholder]="t('Location.city')" name="city" />
                        <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:map-pin'"
                        ></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="ml-3 gt-xs:pr-3 flex-auto">
                        <input formControlName="state" matInput [placeholder]="t('Location.stateProvince')" name="state" />
                        <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:map-pin'"
                        ></mat-icon>
                    </mat-form-field>
                    </div>
                    <div class="flex">
                    <mat-form-field class="gt-xs:pr-3 flex-auto">
                        <input formControlName="country" matInput [placeholder]="t('Location.countryName')" name="country"/>
                        <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:map-pin'"
                        ></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="ml-3 gt-xs:pr-3 flex-auto">
                        <input formControlName="zip" matInput [placeholder]="t('Location.postalCode')" name="zip"/>
                        <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:map-pin'"
                        ></mat-icon>
                    </mat-form-field>
                    </div>
                </div>
                <div
                        class="-mx-8 mt-8 flex items-center justify-end border-t bg-gray-50 px-8 py-5 dark:bg-gray-700"
                >
                    <button mat-button type="button" (click)="onCancel()" >{{t('action.cancel')}}</button>
                    <button
                            class="ml-3 px-6"
                            mat-flat-button
                            [color]="'primary'"
                            type="submit"
                    >
                        {{t('action.save')}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
