<div class="flex min-w-0 flex-auto flex-col" *transloco="let t">
    <!-- Header -->
    <div
            class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8"
    >
        <div class="min-w-0 flex-1">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500"
                    >{{ t('Properties') }}</a
                    >
                </div>
                <div class="ml-1 flex items-center whitespace-nowrap">
                    <mat-icon
                            class="text-secondary icon-size-5"
                            [svgIcon]="'heroicons_mini:chevron-right'"
                    ></mat-icon>
                    <a class="ml-1 text-primary-500"> {{ t('Edit propertie') }}</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                        class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl"
                >
                    {{ t('Edit propertie') }}
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <form
                class="bg-card overflow-hidden rounded p-4 shadow"
                [formGroup]="propertyStepperForm"
        >
            <mat-horizontal-stepper [linear]="true" #propertyStepper>
                <mat-step
                        [formGroupName]="'step1'"
                        [stepControl]="propertyStepperForm.get('step1')"
                        #propertyStepperStep1
                >
                    <ng-template matStepLabel
                    >{{ t('Identification') }}
                    </ng-template
                    >
                    <div class="mt-6 flex">
                        <mat-form-field class="flex-auto">
                            <input
                                    matInput
                                    [formControlName]="'name'"
                                    [placeholder]="t('Name')"
                                    required
                            />

                        </mat-form-field>
                        <div class="ml-3 flex-auto">
                            <ng-select
                                    [items]="ownersList"
                                    bindLabel="fullName"
                                    bindValue="id"
                                    [multiple]="true"
                                    name="owners"
                                    formControlName="owners"
                                    placeholder="Select owners"
                                    [(ngModel)]="selectedOwners"
                            [clearable]="true"
                            class="w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </ng-select>
                        </div>
                        <div class="ml-3 flex-auto">
                            <ng-select
                                    [items]="agentsList"
                                    bindLabel="fullName"
                                    bindValue="id"
                                    [multiple]="true"
                                    name="owners"
                                    formControlName="agents"
                                    placeholder="Select agents"
                                    [(ngModel)]="selectedAgents"
                                    [clearable]="true"
                                    class="w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </ng-select>
                        </div>

                        <mat-form-field class="ml-3 flex-auto">
                            <mat-select [formControlName]="'typeProperty'" [placeholder]="t('Type')" required>
                                <mat-option *ngFor="let type of propertyTypeList" [value]="type">
                                    {{ type }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="ml-3 flex-auto">
                            <mat-select [formControlName]="'propertyStatus'" [placeholder]="t('Status')" required>
                                <mat-option *ngFor="let status of propertyStatusList" [value]="status">
                                    {{ status }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="flex">
                        <mat-form-field class="gt-xs:pr-3 flex-auto">

                            <input matInput ngx-gp-autocomplete [placeholder]="t('Location.location')" (onAddressChange)="handleAddressChange($event)" [formControlName]="'address'"/>
                            <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:map'"
                            ></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="ml-3 gt-xs:pr-3 flex-auto">
                            <input formControlName="street" matInput [placeholder]="t('Location.streetAddress')"
                                   name="street"/>
                            <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:map-pin'"
                            ></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="ml-3 gt-xs:pr-3 flex-auto">
                            <input formControlName="city" matInput [placeholder]="t('Location.city')" name="city"/>
                            <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:map-pin'"
                            ></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <mat-form-field class="gt-xs:pr-3 flex-auto">
                            <input formControlName="state" matInput [placeholder]="t('Location.stateProvince')"
                                   name="state"/>
                            <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:map-pin'"
                            ></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="ml-3 gt-xs:pr-3 flex-auto">
                            <input formControlName="country" matInput [placeholder]="t('Location.countryName')"
                                   name="country"/>
                            <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:map-pin'"
                            ></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="ml-3 gt-xs:pr-3 flex-auto">
                            <input formControlName="zip" matInput [placeholder]="t('Location.postalCode')" name="zip"/>
                            <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:map-pin'"
                            ></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex justify-end">
                        <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="
                                    propertyStepperStep1.stepControl
                                        .pristine ||
                                    propertyStepperStep1.stepControl.invalid
                                "
                                type="button"
                                matStepperNext
                        >
                            Next
                        </button>
                    </div>
                </mat-step>

                <mat-step
                        [formGroupName]="'step2'"
                        [stepControl]="propertyStepperForm.get('step2')"
                        #propertyStepperStep2
                >
                    <ng-template matStepLabel>{{ t('Informations') }}</ng-template>

                    <div class="mt-6 flex">
                        <mat-form-field class="gt-xs:pr-3 flex-auto">
                            <input
                                    matInput
                                    [formControlName]="'ownerReserves'"
                                    [placeholder]="'Owner\'s Reserves'"
                                    required
                            />

                        </mat-form-field>
                        <mat-form-field class="ml-3 gt-xs:pl-3 flex-auto">
                            <input
                                    matInput
                                    [formControlName]="'applicationFee'"
                                    [placeholder]="'Application Fee'"
                                    required
                            />

                        </mat-form-field>
                        <mat-form-field class="ml-3 gt-xs:pl-3 flex-auto">
                            <input
                                    matInput
                                    [formControlName]="'feesPercentage'"
                                    [placeholder]="'Percentage Fee'"
                                    required
                            />
                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <mat-form-field class="gt-xs:pr-3 flex-auto">
                            <input
                                    matInput
                                    [formControlName]="'feesMinimum'"
                                    [placeholder]="'Minimum Fee'"
                                    required
                            />

                        </mat-form-field>
                        <mat-form-field class="ml-3 gt-xs:pl-3 flex-auto">
                            <mat-select [formControlName]="'fiscalYearEnd'" [placeholder]="'Monthly Reports'" required>
                                <mat-option *ngFor="let month of monthNames" [value]="month">
                                    {{ month }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="ml-3 gt-xs:pl-3 flex-auto">
                                <textarea
                                        matInput
                                        [formControlName]="'note'"
                                        [placeholder]="'Note'"
                                        [rows]="1"
                                ></textarea>

                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <mat-form-field class="gt-xs:pl-3 flex-auto">
                                <textarea
                                        matInput
                                        [formControlName]="'descriptionFr'"
                                        [placeholder]="'DescriptionFR'"
                                        [rows]="3"
                                ></textarea>

                        </mat-form-field>
                        <mat-form-field class="ml-3 gt-xs:pl-3 flex-auto">
                                <textarea
                                        matInput
                                        [formControlName]="'descriptionEn'"
                                        [placeholder]="'DescriptionEN'"
                                        [rows]="3"
                                ></textarea>

                        </mat-form-field>
                    </div>
                    <div
                            class="gt-sm:mt-0 gt-sm:ml-16 mt-8 flex flex-col"
                    >
                        <mat-checkbox formControlName="isOneApplicantPerUnit">
                            {{ t('One applicant per unit') }}
                        </mat-checkbox>

                        <mat-checkbox formControlName="isHome">
                            {{ t('Visibility') }}
                        </mat-checkbox>

                    </div>
                    <div class="flex justify-end">
                        <button
                                class="mr-2 px-8"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious
                        >
                            Back
                        </button>
                        <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="
                                    propertyStepperStep2.stepControl
                                        .pristine ||
                                    propertyStepperStep2.stepControl.invalid
                                "
                                type="button"
                                matStepperNext
                        >
                            Next
                        </button>
                    </div>
                </mat-step>

                <mat-step
                        [formGroupName]="'step3'"
                        [stepControl]="propertyStepperForm.get('step3')"
                >
                    <ng-template matStepLabel>{{ t('Media') }}</ng-template>
                    <div class="mt-6 flex flex-col lg:flex-row gap-4">
                        <!-- Zone de drag & drop pour l'image principale -->
                        <div class="border-2 border-dashed border-gray-300 bg-gray-100 rounded-lg p-6 text-center cursor-pointer transition hover:border-gray-400 flex-1"
                             (click)="defaultImageInput.click()">
                            <input type="file" accept="image/*" #defaultImageInput class="hidden"
                                   (change)="onFileSelected($event, 'defaultImage')" />
                            <div class="flex flex-col items-center">
                                <svg class="w-12 h-12 text-gray-500 mb-2" fill="none" stroke="currentColor" stroke-width="2"
                                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M12 4v16m8-8H4"></path>
                                </svg>
                                <p class="text-gray-700 font-medium">
                                    {{ selectedDefaultImage ? selectedDefaultImage.name : t('chooseFile') }}
                                </p>
                            </div>
                        </div>

                        <!-- Zone de drag & drop pour plusieurs images -->
                        <div class="border-2 border-dashed border-gray-300 bg-gray-100 rounded-lg p-6 text-center cursor-pointer transition hover:border-gray-400 flex-1"
                             (click)="multipleImagesInput.click()">
                            <input type="file" accept="image/*" multiple #multipleImagesInput class="hidden"
                                   (change)="onFileSelected($event, 'images')" />
                            <div class="flex flex-col items-center">
                                <svg class="w-12 h-12 text-gray-500 mb-2" fill="none" stroke="currentColor" stroke-width="2"
                                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M12 4v16m8-8H4"></path>
                                </svg>
                                <p class="text-gray-700 font-medium">
                                    {{ selectedImages.length ? selectedImages.length + ' ' + t('filesSelected') : t('chooseFiles') }}
                                </p>
                            </div>
                        </div>
                    </div>




                    <div class="mt-8 flex justify-end">
                        <button
                                class="mr-2 px-8"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious
                        >
                            Back
                        </button>
                        <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                type="button"
                                matStepperNext
                        >
                            Next
                        </button>
                    </div>
                </mat-step>

                <mat-step [formGroupName]="'step4'" [stepControl]="propertyStepperForm.get('step4')" #propertyStepperStep4>
                    <ng-template matStepLabel>{{ t('Services') }}</ng-template>
                    <div *ngFor="let service of servicesNames$ | async">
                        <mat-checkbox
                                [checked]="selectedServices.value.includes(service.id)"
                                (change)="onServiceChange(service.id, $event.checked)"
                                class="flex items-center cursor-pointer hover:bg-gray-100">
                            {{ service.name }}
                        </mat-checkbox>
                    </div>
                    <div class="mt-8 flex justify-end">
                        <button
                                class="mr-2 px-8"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious
                        >
                            Back
                        </button>
                        <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                type="button"
                                matStepperNext
                                (click)="updateProperty()"
                        >
                            Send
                        </button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </form>

    </div>
</div>
